<ion-view title="Choose Game">
    <ion-content padding="true" class=" background">
        <div>
            
                <h1 class="white logo-big">Cards </h1>
                <h1 class="white logo-big">Against </h1>
                <h1 class="white logo-big">Humanity </h1>                 
                <h4 class="white logo-small">A party game for horrible people.</h4>
           
        </div>
        <div class="spacer" style="height: 1rem;"></div>
        <!--<button class="button button-stable button-block" ui-sref="game">Host a game</button>
        <button class="button button-stable button-block" href="#/app/game">Join a game</button>-->        
          <p>
            <a class="button button-stable button-block" ng-click="hostGame()">Host a game</a>
            <a class="button button-stable button-block" ng-click="joinGame()">Join a game</a>
          </p>
        
    </ion-content>
</ion-view>